.app{
  width: 70vw;
  max-width: 400px;
  border-radius: 15px;
  background-color: #D8E2DC;
  margin-left:auto;
  margin-right:auto;
  padding: 5% 5%;
  color: rgb(70, 70, 70);
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.app h2{
  padding: 2% 5%;
  border-bottom: solid 2px rgb(70, 70, 70);
}
