.app{
  width: 80vw;
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 80vh;
  padding: 5% 5%;
  color: rgb(70, 70, 70);
  font-size: 25px;
  font-weight: bold;
}

.app h2{
  padding: 2% 5%;
  margin-left: 5%;
  border-left: solid 2px rgb(70, 70, 70);
}
