.list{
  padding: 5%;
}

.list__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.list__content__btn__task{
  display: flex;
  align-items: center;
}

.list button{
  color: white;
  border: solid 1px white;
}
